---
// src/components/layout/MegaMenu.astro
export interface NavLink {
  text: string;
  url: string;
  sublinks?: {
    text: string;
    subtitle: string;
    url: string;
  }[];
}
export interface SocialLink {
  url: string;
  iconPaths: string[]; // Allows for multi-part SVG icons
}
export interface Props {
  navLinks?: NavLink[];
  address?: string;
  socials?: SocialLink[];
}
const { navLinks = [], address, socials = [] } = Astro.props;
---
<div class="menu-overflow fixed z-[9998] bg-black/80 backdrop-blur-md w-full h-full"></div>

<nav data-lenis-prevent="true" class="menu fixed right-6 top-0 w-full min-h-screen overflow-y-auto z-[99999]">
  <div id="menu-close-button" class="menu-close cursor-pointer fixed top-9 right-5 sm:right-8 h-[40px] w-[40px] text-white z-[100000]">
    <svg xmlns="http://www.w.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 50 50">
      <path d="M 7.71875 6.28125 L 6.28125 7.71875 L 23.5625 25 L 6.28125 42.28125 L 7.71875 43.71875 L 25 26.4375 L 42.28125 43.71875 L 43.71875 42.28125 L 26.4375 25 L 43.71875 7.71875 L 42.28125 6.28125 L 25 23.5625 Z" fill="#fff"></path>
    </svg>
  </div>
  
  <div class="menu-wrapper relative max-w-[300px] sm:max-w-[400px] md:max-w-[580px] lg:max-w-[900px] xl:max-w-[1030px] mx-auto py-24 flex flex-col gap-8 md:gap-16 z-[99999]">
    <ul class="menu-list">
      {navLinks.map(link => (
        <li class="menu-list-item menu-list-item-anchor">
          <a href={link.url} class="text-white text-[28px] md:text-[42px] xl:text-[56px] leading-[70px] xl:leading-[90px] menu-list-item-text">
            {link.text}
          </a>
          {link.sublinks && (
            <ul class="menu-list-item-dropdown relative md:absolute top-0 w-full md:w-[350px] lg:w-[600px] h-fit left-0 md:left-[48%] lg:left-[33%] xl:left-[44%] grid grid-cols-1 lg:grid-cols-2 gap-x-4 max-h-[60vh] md:max-h-none overflow-y-auto md:overflow-visible md:pb-0">
              {link.sublinks.map(sublink => (
                <li>
                  <a href={sublink.url} class="text-white inline-block pb-1 pl-3 menu-list-item-dropdown-list text-base md:text-lg leading-8 md:leading-[50px]">
                    {sublink.text} - <span class="font-instrument italic text-white text-sm">{sublink.subtitle}</span>
                  </a>
                </li>
              ))}
            </ul>
          )}
        </li>
      ))}
    </ul>
  </div>

  <div class="menu-footer max-lg:hidden lg:block fixed bottom-0 w-full border-t border-white border-opacity-10">
    <div class="menu-footer-content max-w-[300px] sm:max-w-[400px] md:max-w-[600px] lg:max-w-[900px] xl:max-w-[1130px] flex justify-between mx-auto py-8 flex-col md:flex-row">
      <p class="text-sm w-full md:w-auto mb-4 md:mb-0 text-gray-400">{address}</p>
      <div class="flex gap-6">
        {socials.map(social => (
          <span>
            <a href={social.url}>
              <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 20 20" fill="none" class="stroke-[#565656] hover:stroke-white duration-200">
                {social.iconPaths.map(path => <path d={path} stroke-linecap="round" stroke-linejoin="round" />)}
              </svg>
            </a>
          </span>
        ))}
      </div>
    </div>
  </div>
</nav>