---
// src/components/blocks/AwardVideoV5.astro

/*
================================================================================
Component: AwardVideoV5
Description: A block that displays a header and a large, clickable video
             poster image.
================================================================================
*/

import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

export interface Props {
  eyebrow: string;
  heading: string;
  subheading: string;
  videoUrl: string;
  posterImage: ImageMetadata;
  altText: string;
}

const { eyebrow, heading, subheading, videoUrl, posterImage, altText } = Astro.props;
---

<section
  class="pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[88px] lg:pt-[88px] xl:pb-[100px] xl:pt-[100px] video-section"
>
  <div class="container">
    <!-- Section Header -->
    <div class="mb-10 lg:mb-20">
      <p
        class="font-satoshi text-center text-sm font-normal leading-6 tracking-[3px] uppercase reveal-me"
      >
        {eyebrow}
      </p>
      <h2 class="mt-3 lg:mt-5 text-center text-appear" set:html={heading}></h2>
      <p class="text-center text-appear mt-1.5" set:html={subheading}></p>
    </div>
    <div class="hero-video-container">
      <a
        href={videoUrl}
        class="hero-video z-30 relative"
        target="_blank"
        rel="noopener noreferrer"
      >
        <figure class="overflow-hidden">
          <Image
            src={posterImage}
            alt={altText}
            class="w-full cursor-pointer"
          />
        </figure>
      </a>
    </div>
  </div>
</section>
