---
// src/components/blocks/HeroV16.astro

/*
================================================================================
Component: HeroV16
Description: A hero section for a marketing agency, featuring a two-column
             layout with a video, user testimonials, and a call-to-action.
================================================================================
*/

import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

// --- Asset Imports ---
import plusIconLight from '../../assets/images/icons/plus-icon.svg';
import plusIconDark from '../../assets/images/icons/plus-icon-white.svg';

export interface Props {
  heading: string;
  description: string;
  button: {
    text: string;
    url: string;
  };
  reviewAvatars: ImageMetadata[];
  trustedByText: string;
  video: {
    url: string;
    thumbnail: ImageMetadata;
  };
  gradientBackground: ImageMetadata;
}

const {
  heading,
  description,
  button,
  reviewAvatars,
  trustedByText,
  video,
  gradientBackground,
} = Astro.props;
---

<section
  class="pt-[107px] md:pt-[130px] xl:pt-[180px] relative bg-cover object-cover bg-no-repeat overflow-hidden"
  style={`background-image: url(${gradientBackground.src})`}
>
  <!-- Gradient Background Wrapper for smaller screens -->
  <div
    id="hero-gradient-wrapper"
    class="absolute w-full h-full top-0 left-0 -z-10 blur-[85px] md:blur-[80px]"
  >
    <Image
      src={gradientBackground}
      alt="hero-gradient-background"
      id="hero-gradient"
      class="absolute left-0 top-1/2 max-md:-translate-y-[60%] lg:scale-75 xl:scale-100 md:-translate-y-1/2"
    />
  </div>

  <div
    class="max-w-[1300px] mx-auto px-4 md:px-[30px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] video-section"
  >
    <div class="flex flex-col lg:flex-row gap-8 items-end">
      <!-- Content -->
      <div class="lg:w-[65%]">
        <h1 class="reveal-me" set:html={heading}></h1>
        <p class="reveal-me">
          {description}
        </p>

        <!-- Hero Buttons -->
        <ul class="mt-7 md:mt-9 lg:mt-14 cursor-pointer reveal-me">
          <li>
            <a
              href={button.url}
              class="rv-button rv-button-primary block md:inline-block"
            >
              <div class="rv-button-top text-center">
                <span>{button.text}</span>
              </div>
              <div class="rv-button-bottom text-center">
                <span class="text-nowrap">{button.text}</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <!-- video -->
      <div class="lg:w-[34%] reveal-me">
        <div class="flex items-center lg:flex-col xl:flex-row gap-x-5">
          <!-- user overlap image -->
          <div class="flex [&>*:not(:first-child)]:-ml-4 my-3">
            {reviewAvatars.map((avatar, index) => (
                 <Image
                    src={avatar}
                    class="border-2 border-secondary size-12 md:size-[60px] object-cover rounded-[48px] md:rounded-[60px]"
                    alt={`Reviewer avatar ${index + 1}`}
                />
            ))}
            <a href="#">
              <figure
                class="hover:scale-105 duration-300 ease-in-out max-md:size-12"
              >
                <Image
                  src={plusIconLight}
                  class="block dark:hidden"
                  alt="See more reviews"
                />
                <Image
                  src={plusIconDark}
                  alt="See more reviews"
                  class="dark:block hidden"
                />
              </figure>
            </a>
          </div>

          <p class="text-[17px] leading-[1.4]" set:html={trustedByText}></p>
        </div>

        <div
          class="w-full hero-video-container group h-full cursor-pointer relative mt-5 md:mt-[30px]"
        >
          <a
            href={video.url}
            class="hero-video"
          >
            <div class="absolute top-[40%] left-[45%] -translate-x-[45%]">
              <div
                class="dark:bg-backgroundBody bg-secondary flex items-center justify-center size-12 md:size-[60px] md:rounded-[60px] rounded-[48px] transform transition-transform duration-300 group-hover:scale-105"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="15"
                  height="18"
                  viewBox="0 0 15 18"
                  fill="none"
                >
                  <path
                    d="M14.4886 8.40229L1.47805 0.667204C1.36852 0.601523 1.24296 0.565438 1.1143 0.562672C0.985649 0.559906 0.858564 0.590558 0.74616 0.651467C0.633755 0.712376 0.540101 0.801336 0.474856 0.90917C0.409612 1.017 0.375142 1.13981 0.375 1.26491V16.7351C0.375142 16.8602 0.409612 16.983 0.474856 17.0908C0.540101 17.1987 0.633755 17.2876 0.74616 17.3485C0.858564 17.4094 0.985649 17.4401 1.1143 17.4373C1.24296 17.4346 1.36852 17.3985 1.47805 17.3328L14.4886 9.59771C14.5954 9.53629 14.684 9.44887 14.7454 9.34406C14.8069 9.23925 14.8393 9.12066 14.8393 9C14.8393 8.87934 14.8069 8.76076 14.7454 8.65594C14.684 8.55113 14.5954 8.46371 14.4886 8.40229V8.40229Z"
                    class="dark:fill-[#181818] fill-backgroundBody"></path>
                </svg>
              </div>
            </div>

            <Image src={video.thumbnail} alt="Video thumbnail" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
