---
// src/components/blocks/ProcessV6.astro
export interface Step {
  title: string;
  description: string;
}

export interface Props {
  badge: string;
  heading: string;
  steps: Step[];
  button: {
    text: string;
    url: string;
  };
}

const { badge, heading, steps, button } = Astro.props;
---


<section class="pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[88px] lg:pt-[88px] xl:pb-[100px] xl:pt-[100px]">
  <div class="container">
    <div class="text-center">
      <div class="rv-badge mb-3">
        <span class="rv-badge-text">{badge}</span>
      </div>
      <h2 class="mb-7 lg:mb-14 text-center text-appear" set:html={heading}></h2>
    </div>

    <div class="flex max-md:flex-wrap gap-[30px] justify-center service-item-wrapper">
      {steps.map(step => (
        <div class="flex flex-col justify-center items-center relative reveal-me pt-[100px]">
          <h2 class="service-item-number"></h2>
          <h5 class="mb-5">{step.title}</h5>
          <p class="text-center">{step.description}</p>
        </div>
      ))}
    </div>
    
    <ul class="flex justify-center list-none mt-14">
      <li class="block md:inline-block w-full text-center md:w-auto">
        <a href={button.url} class="rv-button rv-button-primary block md:inline-block">
          <div class="rv-button-top">
            <span>{button.text}</span>
          </div>
          <div class="rv-button-bottom">
            <span class="text-nowrap">{button.text}</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>