---
// src/components/blocks/ServicesAccordionV2.astro

/*
================================================================================
Component: ServicesAccordionV2
Description: A block that displays a header, a call-to-action button, and a
             list of accordion items to showcase services.
================================================================================
*/

import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
import AccordionItemV2 from '../cards/AccordionItemV2.astro';
import type { Props as AccordionItemProps } from '../cards/AccordionItemV2.astro';

// Define the properties for the entire block
export interface Props {
  heading: string;
  subheading: string;
  button: {
    text: string;
    url: string;
  };
  accordionItems: AccordionItemProps[];
  backgroundImage: ImageMetadata;
}

const { heading, subheading, button, accordionItems, backgroundImage } = Astro.props;
---

<!--
The main section container. The decorative background image is positioned
absolutely.
-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] relative overflow-hidden"
>
  <div
    class="absolute scale-y-[3.8] sm:scale-y-[3.3] md:scale-y-[3.2] lg:scale-y-[2.4] xl:scale-y-[1.2] scale-x-[2.7] xl:scale-x-[2.4] left-1/2 top-[47%] lg:top-[45%] -translate-y-[45%] -translate-x-1/2"
  >
    <Image src={backgroundImage} alt="gradient background" />
  </div>
  <div class="container">
    <!-- Section Header -->
    <div
      class="flex flex-col md:flex-row gap-y-2 gap-x-10 justify-center lg:justify-between items-start mb-10 md:mb-20"
    >
      <div class="flex-1">
        <h2 class="text-appear max-lg:leading-[1.33]" set:html={heading}></h2>
      </div>
      <div class="md:self-end max-md:w-full flex-1">
        <p class="text-appear md:justify-self-end max-w-lg md:text-right">
          {subheading}
        </p>

        <ul class="justify-self-end max-md:w-full mt-5 md:mt-10 reveal-me">
          <li
            class="block md:inline-block w-full mx-auto md:w-auto text-center"
          >
            <a
              href={button.url}
              class="rv-button rv-button-white block md:inline-block"
            >
              <div class="rv-button-top">
                <span>{button.text}</span>
              </div>
              <div class="rv-button-bottom">
                <span>{button.text}</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Accordion Container -->
    <div
      class="max-w-[1170px] w-full mx-auto [&>*:not(:last-child)]:mb-6 reveal-me"
    >
      <!-- Loop through accordion items and render a card for each -->
      {accordionItems.map((item) => <AccordionItemV2 {...item} />)}
    </div>
  </div>
</section>
