---
// src/components/blocks/ServicesV10.astro
import ServicesGrid from './ServicesGrid.astro';
import type { Props as ServiceCardProps } from './ServiceCard.astro';

export interface Props {
  badge: string;
  heading: string;
  description: string;
  button: {
    text: string;
    url: string;
  };
  services: ServiceCardProps[];
}

const { badge, heading, description, button, services } = Astro.props;
---

<section class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] relative overflow-hidden">
  <div class="container">
    <div class="flex flex-col md:flex-row gap-y-3 gap-x-10 justify-center lg:justify-start items-start md:items-center mb-16 md:mb-20">
      <div class="flex-1">
        <div class="rv-badge reveal-me mb-3 md:mb-4">
          <span class="rv-badge-text">{badge}</span>
        </div>
        <h2 class="text-appear-2" set:html={heading}></h2>
      </div>
      <div class="flex-1 max-md:w-full">
        <p class="text-appear max-md:text-justify max-w-lg md:place-self-end md:text-right text-appear-2">
          {description}
        </p>
        <ul class="justify-self-end max-md:w-full mt-5 md:mt-10 reveal-me">
          <li class="block md:inline-block w-full mx-auto md:w-auto text-center">
            <a href={button.url} class="rv-button rv-button-white block md:inline-block">
              <div class="rv-button-top">
                <span>{button.text}</span>
              </div>
              <div class="rv-button-bottom">
                <span>{button.text}</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <ServicesGrid services={services} />
</section>